PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:Money@20@localhost:5432/store_rating
JWT_SECRET=a24c89cf98fc8b1b330fd367e64cb3439b729b8c4882789bc6429ec88d96048c
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:5173